.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #052537;
  //border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.mainOrder {
  text-align: center;
  font-size: 15px;
  color: #717171;
  margin-bottom: 30px;
  span {
    font-weight: 600;
    color: #2b2b2b;
  }
}
.successBlock {
  display: flex;
  flex-direction: column;
  height: 130px;
  padding: 25px;
  border: 1px solid #09C094;
  border-radius: 24px;
  background: transparent;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  div {
    display: flex;
    align-items: center;
    color: #052537;
    margin-bottom: 15px;
    img {
      margin-right: 10px;
    }
    &:last-of-type {
      font-weight: normal;
      font-size: 15px;
      color: #5E697B;
    }
  }
}
.lastBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding: 25px;
  background: rgba(108, 152, 177, 0.12);
  border-radius: 24px;
  margin-bottom: 30px;
  div {
    font-weight: normal;
    font-size: 15px;
    color: #5E697B;
    line-height: 20px;
    &:first-of-type {
      display: flex;
      font-weight: 600;
      font-size: 16px;
      align-items: center;
      color: #052537;

      img {
        margin-right: 10px;
      }
    }
  }
}
.title {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #5E697B;
  padding-bottom: 15px;
  margin-bottom: 15px;
  //border-bottom: 1px solid #e8e8e8;
}

.details {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #5E697B;
    margin-bottom: 15px;
    span {
      font-weight: 500;
      color: #5E697B;
      &:last-of-type{
        font-weight: 700;
      }
    }
    &:last-of-type{
      font-weight: 700;
    }
  }
}
.info {
  font-weight: 600;
  font-size: 15px;
  div {
    margin-bottom: 15px;
    span {
      color: #5E697B;
      font-weight: normal;
    }
  }
}

.finish {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #E4D6B9;
  font-weight: 600;
  font-size: 15px;
  color: #5E697B;
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 550px) {
  .wrapper {
    padding: 0 15px;
  }
}
