.tab{
    width: 250px;
    height: 40px;
    padding: 10px 16px;
    .label {
        color: #2B2B2B;
        font-family: Manrope;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

        &:hover {
            color: #6C98B1;
        }

    }
}