.SectionTitle {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 36px;
  width: 100%;
  h1 {
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: #052537;
  }
}
