.wrapper {
  margin-top: 32px;

  .title {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #5E697B;
    padding-bottom: 15px;
  }

  .action {
    font-weight: 500;
    border-radius: 16px;
    background-color: #fff;
    font-size: 15px;
    padding: 15px;
    height: 260px;
    overflow-y: auto;

    div {
      display: flex;
      align-items: center;
      height: 40px;
      font-family: Rubik;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: #5E697B;


      img {
        margin-right: 10px;
      }

      &.active {
        color: #6C98B1;
      }

      &:hover {
        color: #6C98B1;
        border: 1px solid #6C98B1;
        margin: 0 -15px;
        padding: 0 15px;
      }
    }

    &::-webkit-scrollbar-track {
      background: #e8e8e8;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #6C98B1;
      border-radius: 10px;
    }
  }


}