.titleCategories {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #5E697B;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .category {
    width: 16.66%;
    margin-bottom: 30px;
    //margin-right: 20px;
    @media(max-width: 1100px) {
      &.category {
        width: 20%;
      }
    }
    @media(max-width: 996px) {
      &.category {
        width: 25%;
      }
    }
    @media(max-width: 776px) {
      &.category {
        width: 33.3%;
      }
    }
    @media(max-width: 550px) {
      &.category {
        width: 50%;
      }
    }
    //@media(max-width: 440px) {
    //  &.category {
    //    margin-right: 10px;
    //  }
    //}

    .image {
      width: 160px;
      height: 160px;
      margin-bottom: 12px;
      margin: 0 auto;
      border-radius: 32px;
    }

    .title {
      font-family: Rubik;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      color: #5E697B;
      margin-top: 10px;
      width: 160px;
    }


    a {
      text-decoration: none;
    }
  }

}


