.wrapper {
  padding-bottom: 30px;
}

.main {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #5E697B;
  margin: 30px 0;
}

.right{
  //width: 100%;
  .details {
    margin: 30px 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      margin-bottom: 15px;
      color: #5E697B;

      &:last-of-type {
        font-weight: 700;
        font-size: 15px;
        color: #5E697B;
      }
    }
  }
}
.title2{
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5E697B;
  border-bottom: 2px solid #e8e8e8;
  padding:  10px 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 14px;
  //text-transform: uppercase;
  border: 2px solid #5E697B;
  border-radius: 24px;
  color: #5E697B;
  padding: 20px;
  margin-bottom: 15px;
}
.textArea {
  width: 100%;
  max-width: 540px;
  height: 108px;
  border: 1px solid #D9E1E5;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 36px;

}
.textArea::placeholder{
  color: #BAC1C5;
}
.input{
  width: 100%;
  max-width: 540px;
  height: 54px;
  border: 1px solid #D9E1E5;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;

}
.input::placeholder{
  color: #BAC1C5;
}



.action {
  width: 48%;
  &.actionFullRow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  &.action select{
    width: 100%;
    height: 50px;
    background: #ffffff;
    border: 1px solid #D9E1E5;
    border-radius: 16px;
    padding: 0 20px;
    margin-bottom: 30px;
    ::placeholder{
      color: #BAC1C5;
      font-size: 15px;
    }
  }

  input {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border: 1px solid #D9E1E5;
    border-radius: 16px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  ::placeholder {
    color: #BAC1C5;
  }



  // select {
  //   width: 100%;
  //   height: 50px;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none;
  //   background: url('/icons/clock.svg') no-repeat 96% center #ffffff;
  //   border: 1px solid #adb3bd;
  //   padding: 0 20px;
  //   font-size: 13px;
  //   color: #adb3bd;
  // }

  textarea {
    resize: none;
    width: 100%;
    height: 150px;
    background: #ffffff;
    border: 1px solid #D9E1E5;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 30px;

  }

}


.delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  border-radius: 24px;
  border: 1px solid #09C094;
  margin-bottom: 30px;
  padding: 0 20px;

  div {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
  }

  &.active {
    background: #F3F8FB;
    border: 1px solid #09C094
  }
}

.payment {
  display: flex;
  width: 48%;
  max-width: 255px;
  align-items: center;
  height: 60px;
  //width: 100%;
  font-weight: 500;
  font-size: 15px;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid #D9E1E5;
  margin-bottom: 30px;
  padding: 0 20px;

  img {
    margin-right: 5px;
  }

  &.active {
    background: #F3F8FB;
    border: 1px solid #09C094;
  }
}
.cashPayment{
  display: flex;
  width: 100%;
  align-items: center;
  height: 60px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid #D9E1E5;
  margin-bottom: 30px;
  padding: 0 20px;

  img {
    margin-right: 5px;
  }

  &.active {
    background: #F3F8FB;
    border: 1px solid #09C094;
  }
}

.error {
  outline-color: red !important;
  border: 1px solid red !important;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background: #E4D6B9;
  font-weight: 700;
  font-size: 16px;
  color: #5E697B;
}
.checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  input{
    width: 18px;
    height: 18px;
    border: 1px solid #5E697B;

  }
  label{
    font-family: Rubik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    margin-left: 12px;
  }
}
.disabled{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  background-color: #D9E1E5;
  font-weight: 700;
  font-size: 16px;
  color: #5E697B;
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 0 15px 30px;
  }
  .row {
    display: block;
  }
  .title {
    margin-bottom: 15px;
  }
  .action {
    width: 100%;
  }
  .payment{
    width: 100%;
    max-width: none;
  }
}
